<div class="row">
    <div class="col-xs-12 col.sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fperfil2.jpg" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col.sm-2 col-md-2 col-lg-2">
        <p id="myname">Irene Chiappara</p>
        <p>Full Stack Developer Junior</p>
    </div>

    <div class="col-xs-12 col.sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, eligendi maxime ab incidunt mollitia corporis ea a deserunt in dignissimos laborum, totam dolorem! Ab voluptas vel velit beatae dolor excepturi.</p>
        </span>
    </div>

</div>



