<!--experiencia-->
    <h4 class="mt-3">Experiencia</h4>

<!-- experiencia-->
<div class="row">
    <div class="col-md-4">
      <img src="asdas" class="img-fluid">
      <h4 class="text-center">Compunet Santa Fe</h4>
      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rhoncus blandit aliquet. Mauris pellentesque lacus at orci maximus posuere. Etiam non sem massa. Donec vel nisi sit amet metus porttitor gravida. Cras varius sodales purus, sit amet mattis metus. </p>
    </div>

    <div class="col-md-4">
      <img src="assets/fhu" class="img-fluid">
      <h4 class="text-center">ASDASD</h4>
      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rhoncus blandit aliquet. Mauris pellentesque lacus at orci maximus posuere. Etiam non sem massa. Donec vel nisi sit amet metus porttitor gravida. Cras varius sodales purus, sit amet mattis metus. </p>
    </div>

    <div class="col-md-4">
      <img src="assets/fbcb" class="img-fluid">
      <h4 class="text-center">ASDASDASDASD</h4>
      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rhoncus blandit aliquet. Mauris pellentesque lacus at orci maximus posuere. Etiam non sem massa. Donec vel nisi sit amet metus porttitor gravida. Cras varius sodales purus, sit amet mattis metus. </p>      
    </div>
  

</div>

    










