 <!--barra de navegación-->
 <nav class="nav-bar navbar-expand-lg navbar-nav">  <!--la clase container centra el contenido que tiene el elemento / navbar-nav:expande la nav al max weight-->
    <div class="row container-fluid align-items-center">
        <div class="col-lg-8">
            <img navbar-brand src="assets/arg-prog1.png" width="180"></div>
        <div class="col col-1">
            <a href="#" target="_blank"><img src="assets/instagram-ico.png" alt="Instagram"></a></div>
        <div class="col col-1">
            <a href="https:/youtube.com" target="_blank"><img src="assets/yt2icon.png" alt="YouTube"></a></div>
        <div class="col col-1">
            <a href="#" target="_blank"><img src="assets/facebookico.png" alt="Facebook"></a></div>
        <div class="col col-1">
            <app-button></app-button>
        </div>
    </div>
</nav>

<!--******************************banner FALTA EL BANNER *************************-->

<div>
    <span class="loz">banner banner banner banner clara haceme el banner</span>
</div>

