#foto {
    zoom: 10%;
    margin-left:40%;
}

#foto2 {
    zoom: 80%;
    margin-left: 40%;
}

.loooz span:hover {
    color: blueviolet;

}

.row {
    padding: 20px;
}

.mt-3 {
    padding: 20px;
}